html {
    background: url(Image.svg) no-repeat center center fixed;
    overflow-y:scroll;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover;
}

@media (max-width: 480px)  {
    html{
        background: url(Image2.svg) no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
         height: 100%;
    }
}

body{
    font-family: 'Source Sans Pro', sans-serif !important;
    /* font-family: 'system-ui', sans-serif !important; */
}

a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255) !important;
}

.title {
    text-align: center;
    padding-top: 14%;
    color: white;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    color: white;
    font-weight: 500;
    padding-bottom: 10%;
    width: 60%;
    margin-left: 20%;
}

.main-header{
    width: 100%;
    text-align: center;
}


.card{
    position: relative !important;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(43, 43, 43, 0.5);
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 5%;
}


.nav{
    padding-top: 2%;
}

button{
    border: none !important;
    border-radius: 0 !important;
    font-size: 110% !important;
    margin-bottom: 0 !important;
}

.selected{
    border-bottom: 2px solid #1f1f1f !important;
}

.active{
    color: #1f1f1f !important;
    letter-spacing: .5px !important;
}

.subject{
    margin: 3% !important;
}

.subject > h6{
    text-align: left;
    padding-left: 5% !important;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 120% !important;
}


.subject0{
    margin: 3% !important;
}

.subject0 > h6{
    text-align: left;
    padding-left: 5% !important;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 120% !important;
}

label{
    text-align: left;
    opacity: 0.6;
    padding-left: 10% !important;
}

.field{
    -webkit-appearance:none;
    width: 80% !important;
    padding: 1% !important;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.027)
}

.textfield{
    width: 80% !important;
    padding: 3% !important;
    border: none !important;
    outline: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.027);
    margin-bottom: 2% !important;
}

.subject > .row{
    padding: 1%;
}

.subject0 > .row{
    padding: 1%;
}

.add{
    background-color: #1f1f1f;
    color: white !important;
    width: 90% !important;
    border-radius: 5px !important;
    margin: 3% !important;
    
}

.add:hover{
    color: white;
    background-color: #0f0f0f;
}

.footer{
    background-color: rgba(71, 71, 71, 0.055);
    text-align: center;
    vertical-align: middle;
    font-size: 80%;
    font-weight: 500;
    position: relative !important;
    width: 100% !important; 
    bottom: 0;
    max-width: 100% !important;
    color: #fff;
}

.gpaval{
    padding: 2%;
}

.sgpa{
    color: #1f1f1f;
    font-weight: 700;
    font-size: 300%;
    margin-bottom: 0;
}

.small{
    color: #00000050;
    font-weight: 400;
    font-size: 50% !important;
}

.comment{
    color: #00000060;
}

.warning{
    color: rgb(223, 0, 0);
    font-weight: 400;
    font-size: 75%;
    text-align: left;
    margin-left: 10%;
}